<!-- <div class="container">
  <div class="card">
      <div class="form">
          <div class="left-side">
              <div class="left_top">
                  <h4>Oriton Presets</h4>
                  <p>$29.00 +</p>
              </div>
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  </div>
                  <div class="carousel-inner">
                      <div class="carousel-item active"> <img src="https://imgur.com/j1R465T.jpg" class="d-block w-100" alt="..."> </div>
                      <div class="carousel-item"> <img src="https://imgur.com/LPFGIoY.jpg" class="d-block w-100" alt="..."> </div>
                      <div class="carousel-item"> <img src="https://imgur.com/v7bSlKX.jpg" class="d-block w-100" alt="..."> </div>
                      <div class="carousel-item">
                       <img src="https://imgur.com/xZ6h8of.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                       <img src="https://imgur.com/I2GDFqA.jpg" class="d-block w-100 " alt="...">
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
              <div class="oriton_img"> <img src="https://imgur.com/3jrYK9O.png">
                  <h5>Oriton presets collection 01</h5>
                  <p>10 different presets with a variety of dissferent styles ranging from minimalist and sterile to colourful amd summary.Perfect for product photography,lifestyle and landscapes.</p>
                  <p>@ultralinx<br>oliur.com</p>
              </div>
              <div class="left_text">
                      <input type="radio" id="collection1" name="collection">
                      <label for="collection1">
                      <div class="left_box">
                          <div class="left_box_collection">
                              <div class="radio_button"> <span></span>
                                  <h4>Collection 01</h4>
                              </div>
                              <p>$29</p>
                          </div>
                          <p>10 * Presets.Released in 2020.</p>
                      </div>
                  </label>
                      <input type="radio" id="collection2" name="collection">
                      <label for="collection2">
                      <div class="left_box">
                          <div class="left_box_collection">
                              <div class="radio_button"> <span></span>
                                  <h4>Collection 02</h4>
                              </div>
                              <p>$29</p>
                          </div>
                          <p>10 * Presets.Released in 2021.</p>
                      </div>
                  </label> <input type="radio" id="collection3" name="collection"> <label for="collection3">
                      <div class="left_box lt_bx">
                          <div class="left_box_collection">
                              <div class="radio_button">
                                  <span></span>
                                  <h4>Collection 01 + 02</h4>
                              </div>
                              <p>$48</p>
                          </div>
                          <p>Buy both collections.20 * presets in total</p>
                      </div>
                  </label> </div>
          </div>
          <div class="right-side">
              <h3>Payment Details</h3>
              <h5>Complete your purchase by providing your payment details.</h5>
              <div class="input_text"> <input type="text"> <span>Email address</span> </div>
              <div class="input_div">
                  <div class="input_text _input">
                      <input type="text" placeholder="0000 0000 0000 0000" data-slots="0" data-accept="\d" size="19"> <span>Card Details</span>
                      <i class="fa fa-credit-card"></i>
                  </div>
                  <div class="cvv_month">
                      <div class="input_text ">
                           <input class="months" type="text" placeholder="mm/yyyy" data-slots="my">
                      </div>
                      <div class="input_text ">
                          <input  class="cvcs" type="text" placeholder="000" data-slots="0" data-accept="\d" size="3">
                      </div>
                  </div>
              </div>
              <div class="input_text"> <input type="text" placeholder="Luk"> <span>Cardholder Name</span> </div>
              <div class="billing">
                  <div class="input_text"> <span>Billing Address</span> <select>
                          <option>Select Country</option>
                          <option>China</option>
                          <option>Thailand</option>
                          <option>India</option>
                          <option>Russia</option>
                          <option>Japan</option>
                          <option>Vatican City</option>
                      </select> </div>
                  <div class="zip_state"> <input type="number" placeholder="ZIP"> <input type="text" placeholder="State"> </div>
              </div>
              <div class="input_text"> <input type="text" placeholder="GB0124589"> <span>VAT Number</span> </div>
              <div class="bill_content">
                  <div class="bill_content_text">
                      <h4>Subtotal</h4>
                      <p>$29.00</p>
                  </div>
                  <div class="bill_content_text">
                      <h5>VAT (20%)</h5>
                      <p>$5.80</p>
                  </div>
                  <div class="bill_content_text total">
                      <h4>Total</h4>
                      <p>$34.80</p>
                  </div>
              </div>
              <div class="pay"> <button>Pay $34.80</button>
                  <div class="payemnts"> <i class="fa fa-lock"></i>
                      <p>Payments are secure and encripted.</p>
                  </div>
                  <div class="powered"> <img src="https://imgur.com/3jrYK9O.png">
                      <p>Powered by Oriton <a href="#">Terms</a> <a href="#">Services</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="wrapper rounded">
  <nav
    class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"
  >
    <a class="navbar-brand" href="#"
      >Transactions
      <p class="text-muted pl-1">Welcome to your transactions</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><span class="fa fa-bell-o font-weight-bold"></span>
            <span class="notify">Notifications</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#"><span class="fa fa-search"></span></a>
          <input type="search" class="dark" placeholder="Search" />
        </li>
      </ul>
    </div>
  </nav>
  <div class="row mt-2 pt-2">
    <div class="col-md-6" id="income">
      <div class="d-flex justify-content-start align-items-center">
        <p class="fa fa-long-arrow-down"></p>
        <p class="text mx-3">Income</p>
        <p class="text-white ml-4 money">$9,758.23</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-md-end align-items-center">
        <div class="fa fa-long-arrow-up"></div>
        <div class="text mx-3">Expense</div>
        <div class="text-white ml-4 money">$961.23</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <ul class="nav nav-tabs w-75">
      <li class="nav-item">
        <a class="nav-link active" href="#history">History</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
    </ul>
    <button class="btn btn-primary">New Transaction</button>
  </div>
  <div class="table-responsive mt-3">
    <table class="table table-dark table-borderless">
      <thead>
        <tr>
          <th scope="col">Activity</th>
          <th scope="col">Mode</th>
          <th scope="col">Date</th>
          <th scope="col" class="text-right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <span class="fa fa-briefcase mr-1"></span> Coorg Trip
          </td>
          <td><span class="fa fa-cc-mastercard"></span></td>
          <td class="text-muted">12 Jul 2020, 12:30 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span> $52.9
          </td>
        </tr>
        <tr>
          <td scope="row">
            <span class="fa fa-bed mr-1"></span> Hotel Leela Palace
          </td>
          <td><span class="fa fa-cc-mastercard"></span></td>
          <td class="text-muted">11 Jul 2020, 2:00 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span> $18.9
          </td>
        </tr>
        <tr>
          <td scope="row">
            <span class="fa fa-exchange mr-1"></span> Monthly Salary
          </td>
          <td><span class="fa fa-cc-visa"></span></td>
          <td class="text-muted">10 Jul 2020, 8:30 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-down mr-1"></span> $9,765.00
          </td>
        </tr>
        <tr>
          <td scope="row">
            <span class="fa fa-exchange mr-1"></span> Xbox Purchase
          </td>
          <td><span class="fa fa-cc-mastercard"></span></td>
          <td class="text-muted">12 May 2020, 4:30 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span> $198.90
          </td>
        </tr>
        <tr>
          <td scope="row">
            <span class="fa fa-cutlery mr-1"></span> Dinner Party
          </td>
          <td><span class="fa fa-cc-visa"></span></td>
          <td class="text-muted">11 May 2020, 5:30 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span> $12.90
          </td>
        </tr>
        <tr>
          <td scope="row">
            <span class="fa fa-briefcase mr-1"></span> Nandini Hills Ride
          </td>
          <td><span class="fa fa-cc-mastercard"></span></td>
          <td class="text-muted">10 May 2020, 01:30 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span> $97.9
          </td>
        </tr>
        <tr>
          <td scope="row">
            <span class="fa fa-briefcase mr-1"></span> Goa Beach Party
          </td>
          <td><span class="fa fa-cc-visa"></span></td>
          <td class="text-muted">09 May 2020, 01:30 PM</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span> $97.9
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between align-items-center results">
    <span class="pl-md-3"
      >Showing<b class="text-white"> 1-7 0f 200 </b> trasactions</span
    >
    <div class="pt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
